@{
    ViewBag.Title = "Home Page";
}

<div style="text-align: center; margin: 20px; padding: 50px;">
    <h1> Sirena de Cerneală </h1>
    <h3>Salon de tatuaje</h3>
</div>


<p>Ne puteți contacta la:</p>

    <table class="table">
        <thead>
            <tr>
                <th>Număr de telefon:</th>
                <td>0729918442</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Adresă de email:</th>
                <td>sirena_de_cerneala@tatto.ro</td>
            </tr>
            <tr>
                <th>Pagină de Instagram:</th>
                <td>@@sirena_de_cerneala</td>
            </tr>
        </tbody>
    </table>