@model SalonTatuaje.Models.Imagine


<div>
    <input type="button" id="butgal-prev" class="btn-info" value="<" />
    <img class="img-tatuaje" src="@Url.Content(Model.PathImagine)" alt="Poza tatuaj" />
    <input type="button" id="butgal-next" class="btn-info" value=">" />
</div>
